<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Projeto Pokedex</title>
    <link rel="stylesheet" href="css/index.css">
</head>

<body>
        <header> 
            <div id="cabeca"></div>
            <img id="logo" src="https://raw.githubusercontent.com/sleduardo20/pokedex/0671af442dff1d8f7141e49eb83b438885bbc9e9/public/img/logo.svg" alt="Logo pokedex">
        </header>
        
        <nav>
            <ul>
                <li><a class="t11" href="<%= "/" %> "> <img class="poke" src="https://www.pngmart.com/files/2/Pokeball-Transparent-PNG.png" alt="pokeball"> <h1>Pokédex</h1> </a></li>
                <li><a class="t1" href="#cards"> <img class="poke" src="https://www.pngmart.com/files/2/Pokeball-Transparent-PNG.png" alt="pokeball">  Pokemons</a></li>
                <li><a class="t1" href="#cadastro"> <img class="poke" src="https://www.pngmart.com/files/2/Pokeball-Transparent-PNG.png" alt="pokeball">  Cadastro</a></li>
                
            </ul>
        </nav>        
        
    <main> 
        <section id="cards">
            
            <% pokemons.forEach((pokemon) => { %>
            <a href="/info/<%= pokemon.id %>">
                <div class="card">
                    <img src="<%= pokemon.img %>" alt="Ilustração do Pokemon">
                    <img src="https://cdn.dribbble.com/users/1081076/screenshots/2832850/pokemongo.gif" alt="pokedex">
                    <p id="type"> Type:  <%= pokemon.tipo %> </p>
                </div>
            </a>
            <% }) %>
        
        </section>
        
        <section id="cadastro"> 
            <h2> Cadastrar novo Pokemon! </h1>

                <form action="/add" method="post">
                    <label for="nome">Nome:</label>
                    <input type="text" id="nome" name="nome">
                    
                    <label for="descricao">Descrição:</label>
                    <input type="text" id="descricao" name="descricao">

                    <label for="tipo">Tipo:</label>
                    <input type="text" id="tipo" name="tipo">

                    <label for="tamanho">Tamanho:</label>
                    <input type="text" id="tamanho" name="tamanho">

                    <label for="peso">Peso:</label>
                    <input type="text" id="peso" name="peso">

                    <label for="genero">Gênero:</label>
                    <input type="text" id="genero" name="genero">

                    <label for="imagem">Link do Gif ou Imagem:</label>
                    <input type="text" id="img" name="img">

                    <button id="Cadastro" type="submit">Cadastrar</button>
                </form>

        </section>

    </main>
    <footer>
        <p>Todos os direitos reservados para Keven Ferreira Moraes &copy;</p>
        <p>Dados retirados de <a target="_blank" href="https://www.pokemon.com/br/pokedex/">Pokédex</a></p>
    </footer>
</body>

</html> 