@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Teko, sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header div#cabeca {
    width: 100%;
    height: 230px;
    background-image: url("https://w0.peakpx.com/wallpaper/240/955/HD-wallpaper-pokeballs-3d-3d-ball-pokeball-pokemon.jpg");
}

header img#logo {
    width: 400px;
    margin-top: -13rem;
}


body {
    background-color: #fff;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px; 
}


div#cards {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem; 
}

div#cards div.card {
    width: 25rem;
    box-shadow: 3px 3px #00000020, -1em 0 0.4em #00000054;
    background-color: #fff;
    text-transform: none;

}

div#cards div.card img {
    width: 100%;
}

div#cards div.card h2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

div#cards div.card p#text {
    padding: 1rem;
    font-size: 1.5rem;
    text-align: center;
}


div#cards div.card p#type {
    display: flex;
    padding: 0.5rem;
    font-size: 2rem;
    justify-content: center;
}    

div#update {
    display: flex;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    margin-left: -45px;
}

div h2{
    width: 100%;
    text-align: center;
    margin-top: 1rem;
    font-size: 20pt;
}

div#update form{
    width: 30%;
    padding: 2rem;
    margin-top: -1rem;
}

div#update form input {
    width: 100%;
    padding: 0.5rem;
    font-size: 1.5rem;
    outline: none;
    border: solid 2px rgb(134, 134, 134);
    margin: 0  1rem 1rem 1rem;
}

div#update form label {
    font-size: 1.6rem;
    margin: 1rem;
}

div#update form button {
    padding: .5rem;
    font-size: 1.5rem;
    width: 25%;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color: #3564ff;
    border: solid .5px #3564ff;
    cursor: pointer;
    transition: all .2s ease-in-out;
    /* margin-left: -10px; */
}

div#update form button:hover {
    background-color: #3564ff;
    color: #fff;
    box-shadow: 3px 3px rgba(36, 36, 36, 0.397), -.2em 0 0.4em rgba(53, 53, 53, 0.568);
}